<!DOCTYPE html>
<html lang="en">
  <head>
    <meta data-version="%%%VERSION%%%" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blobby Zombie</title>
    <style>
      #blobbyzombie {
        position: fixed;
        width: 100vw;
        height: 100vh;
      }
      body {
        padding: 0;
        margin: 0;
        background-color: black;
        /*background-image: url('assets/splashTitle.png');*/
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 100vh;
      }
      #middleScreenMessageContainer {
        display: none;
        position: fixed;
        width: max-content;
        height: max-content;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #f2f2f2;
        font-family: sans-serif;
        overflow: hidden;
      }
      #textMessage1,
      #textMessage2 {
        font-size: 3rem;
      }
      #scoreList {
        list-style: none;
        font-size: 2rem;
      }
      #scoreList > li {
        margin-bottom: 10px;
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }
    </style>
    <script
      src="<%= backendUrl %>/socket.io/socket.io.js"
      onerror="
			((e) => {
				alert('Serveur injoignable');
			})()"
    ></script>
    <script type="module" src="/src/main.ts"></script>
  </head>
  <body>
    <canvas id="blobbyzombie"></canvas>
    <div id="middleScreenMessageContainer">
      <p id="textMessage1"></p>
      <p id="textMessage2"></p>
      <ul id="scoreList"></ul>
    </div>
  </body>
</html>
